.main{
    margin:0 auto;
    border: 1px solid black;
    padding: 1rem;
}

h2{
    margin: 0;
}

.child{
    display: flex;
    flex-direction: row;
}

select{
    margin-right: 3rem;
    width: 5rem;
}
